__pycache__/
*.pyc
*.pyo
.env
backend/outputs/
backend_cpu/outputs/
backend/custom_dict/_combined/
backend_cpu/custom_dict/_combined/
backend/custom_dict/_history.json
backend_cpu/custom_dict/_history.json
backend/custom_dict/_pause.json
backend_cpu/custom_dict/_pause.json
resources/
*.egg-info/
*.log
dist/
dist-electron/
node_modules/
build/
.vscode/
.idea/
local
bin
python-portable/
python-portable-cpu/
python-embed.zip
*.zip
*.bat
!setup_portable.bat
*.exe
